<main  class="flex flex--row">
  <nav class = "label">
    <ul>

      <form action='/books/<%=@book.id%>' method="POST"">
      <li>
        <label  for="title" >TITLE:</label>
          <input id="title" type="text" name="title" value="<%= @book.title %>" required/>
      </li>
      <li>
        <label for="description" >DESCRIPTION:</label>
          <input id="description" type="text" name="description" value="<%= @book.description %>" required/>
      </li>
      <li>
        <label for="stock" >STOCK:</label>
          <input id="stock" type="number" name="stock" value="<%= @book.stock %>" required/>
      </li>
      <li>
        <label for="buying cost" >BUYING COST:</label>
            <input id="buying cost" type="number" placeholder="0.00" min="0" value="<%= @book.buying_cost %>" step="0.01" title="Currency" name="buying_cost" required/>
      </li>
      <li>
        <label for="selling cost" >SELLING COST:</label>
            <input id="selling cost" type="number" placeholder="0.00" min="0" value="<%= @book.selling_cost %>" step="0.01" title="Currency" name="selling_cost" required/>
      </li>
      <li>
        <label for="author" >AUTHOR:</label>
        <select id="author" name="author_id">
          <% for author in @authors %>
            <option value="<%= author.id %>" <%= "selected" if @book.author().id == author.id %>>
                <%=  author.name() %>
            </option>
          <% end %>
        </select>
        <a href="/authors/new"> Add new </a>
      </li>
      <li>
        <label for="genre" >GENRE:</label>
        <select id="genre" name="genre_id">
          <% for genre in @genres %>
            <option value="<%= genre.id %>" <%= "selected" if @book.genre().id == genre.id %>>
                <%=  genre.name() %>
            </option>
          <% end %>
        </select>
        <a href="/genres/new"> Add new </a>
      </li>
      <li>
        <label for="publisher" >PUBLISHER:</label>

        <select id="publisher" name="publisher_id">
          <% for publisher in @publishers %>
            <option value="<%= publisher.id %>" <%= "selected" if @book.publisher().id == publisher.id %>>
                <%=  publisher.name() %>
            </option>
          <% end %>
        </select>
        <a href="/publishers/new"> Add new </a>
      </li>
      <li>
        <input type='submit' value="EDIT"/>
      </li>
      </form>



    </ul>
  </nav>
</main>
