<h2 >LOW STOCK BOOK LIST</h2>
  <% for book in @books %>
 <p>Title : <%=book.title()%> </p>
 <p>Selling price : <%=book.selling_cost()%> </p>
 <p>Stock : <%=book.stock()%></p>
 <p>Status : <%= book.stock_level() %> </p>
 <a class="btn btn--action" href="/books/<%=book.id%>/order">Order</a>
 <hr>
 <% end %>
