<h2>Detail for <%=@book.title() %> </h2>

<p>Title : <%=@book.title() %> </p>
<p>Description : <%=@book.description() %> </p>
<p>Stock : <%=@book.stock() %> </p>
<p>Author: <%=@book.author().name() %> </p>
<p>Genre : <%=@book.genre().name() %> </p>
<p>Publisher : <%=@book.publisher().name() %> </p>
<p>Buying Cost : <%= @book.buying_cost() %></p>
<p>Selling Cost : <%= @book.selling_cost() %></p>
<p>Mark up : <%=@book.mark_up() %> </p>
<p>Status : <%= @book.stock_level() %> </p>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/books/<%= @book.id %>/edit">Edit details</a>

  <form action="/books/<%= @book.id %>/delete" method="post">
    <button class="btn btn--action" type="submit">Delete Book</button>
  </form>

</p>
